*
{
    margin:0 auto;
    padding:0;
}
div
{
    width:1200px;
    height: 600px;
    border:1px solid green;
    margin-top:10px;
}
.first
{
    /* background-color: orange; */
    /* background-color: #2e8283; */
    /* background-color: rgb(100%,40%,80%); */
    background-color: rgb(200,150,240);
}
.second
{
    /* background:linear-gradient(red 50%,orange,blue,pink); */
    /* background:-webkit-linear-gradient(left,red,orange,blue,pink);
    background:-moz-linear-gradient(left,red,orange,blue,pink);
    background:-ms-linear-gradient(left,red,orange,blue,pink);
    background:-o-linear-gradient(left,red,orange,blue,pink); */
    /* background:-webkit-linear-gradient(60deg,red,orange,blue,pink); */
    background:-webkit-radial-gradient(top left,red 40%,orange,blue,pink);
}
.third
{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsu_xbYM5SZohjbnZHJtuuozCbPaub22Eb5Q&s');
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-position: 40% top;
    /* background-size: 100% 100%; */
    background-size: cover;

}

.fourth
{
    background:orange url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsu_xbYM5SZohjbnZHJtuuozCbPaub22Eb5Q&s");
    background-repeat: no-repeat;
    background-size: 50% 100%;
}
.fourth>h1
{
    color:white;
    font-size: 80px;
    text-align: center;
    /* background-color: aqua;
    opacity:0.1; */
    /* background-color: rgba(200,30,150,0.1); */
    background:linear-gradient(rgba(21, 255, 0, 0.2),orange);
    padding:50px;
    
}
.fifth>h1{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: arial black;
    word-spacing: 20px;
    letter-spacing: 10px;
    color:transparent;
    background:linear-gradient(red,green,blue,orange,pink,tomato);
    background-clip: text;
}