*
{
    margin:0 auto;
    padding:0;

}
.page
{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
}
.page section
{
    flex:1;
    border:1px solid red;
    margin:5px;
}
.page section:last-child
{
    flex:3;
}
#mydiv
{
    width: 70%;
    min-height: 500px;
    max-height: fit-content;
    border:1px solid red;
    margin-top:50px;
}
legend
{
    margin-left: 0;
}
fieldset
{
    padding:10px;
}
textarea
{
    width: 100%;
}
input[type="number"]
{
width: 100%;
padding:5px;
box-sizing: border-box;
}

input[type="range"]
{
    width: 100%;
}